p{

  padding: 10px;
  text-align: justify;
  color: rgb(17, 34, 31);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: grid;
}

body{
  background: rgb(204, 255, 204);
}

.editor{
  background-color: lightskyblue;
}
